<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tausif.abdulqadeer.a935studentcontactsqliteLND">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".AddStudentActivity"
            android:label="AddStudentActivity" />
        <activity android:name=".ViewQuestionsActivity" />
        <activity
            android:name=".AddQuestionActivity"
            android:label="AddQuestionActivity" />
        <activity
            android:name=".AddTestActivity"
            android:label="AddTestActivity" />
        <activity
            android:name=".ViewTestActivity"
            android:label="ViewTestActivity" />
        <activity
            android:name=".QuizActivity"
            android:label="QuizActivity"
            android:noHistory="true" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".ResultActivity"
            android:label="ResultActivity" />
        <activity
            android:name=".ManageTestActivity"
            android:label="ManageTestActivity" />
        <activity
            android:name=".AddExamActivity"
            android:label="AddExamActivity" />
        <activity
            android:name=".ViewStudentActivity"
            android:label="ViewStudentActivity" />
        <activity
            android:name=".ViewClassesActivity"
            android:label="ViewClassesActivity" />
        <activity
            android:name=".UpdateDeleteStudentActivity"
            android:label="UpdateDeleteStudentActivity"
            android:noHistory="true" />
        <activity
            android:name=".ViewTestsActivity"
            android:label="@string/title_activity_view_tests"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ViewAllTestsListActivity"
            android:label="ViewAllTestsListActivity"/>
        <activity android:name=".ViewClassTestsActivity"
            android:label="ViewClassTestsActivity"/>
        <activity
            android:name=".UpdateDeleteTestActivity"
            android:noHistory="true" />
        <activity
            android:name=".ViewTestQuestionsListActivity"
            android:label="@string/title_activity_view_test_questions_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UpdateDeleteQuestionActivity"
            android:label="UpdateDeleteQuestionActivity"
            android:noHistory="true" />
        <activity
            android:name=".Practice.PracticeActivity"
            android:label="Practice.PracticeActivity" />
        <activity
            android:name=".ViewClassStudentsActivity"
            android:label="ViewClassTestsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.StudentClasses.ViewStudentClassesListActivity"
            android:label="@string/title_activity_view_student_classes_list"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.StudentClasses.NewStudentClassActivity"
            android:label="Activities.StudentClasses.NewStudentClassActivity" />
        <!-- <activity android:name=".Activities.StudentClasses.P.MainPActivity" /> -->
        <activity
            android:name=".Activities.StudentClasses.UpdateDeleteStudentClassActivity"
            android:label="Activities.StudentClasses.UpdateDeleteStudentClassActivity" />
        <activity android:name=".Activities.Result.StudentResultsListActivity" />
        <activity android:name=".Activities.StudentTests.AddStudentTestActivity"
            android:label="Activities.StudentTests.AddStudentTestActivity"
            android:noHistory="true"></activity>
    </application>

</manifest>